<a href="https://colab.research.google.com/github/vcngeno/Analytics_Programming/blob/main/2024_AP_MidTerm_Vanessa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analytics Programming Mid-Term Exam

**Instructor:** Kun Bao  
**Date:** 2024-10-15  
**Duration:** 60 minutes   
**Instructions:** Answer all questions in notebook. Ensure clarity and correctness in your code.  

- Please work on a single jupyter notebook and submit your ipynb fle at the end.
- Please set alarm at 8:50PM to stop coding and use the rest of 5 mins to submit your jupyter fle.

## Student
Name: Vanessa Ngeno

SIS ID:

## Part 1: Multiple Choice Questions (20 points)

#### Q1: Which of the following is used to create a list in Python?

- A. []
- B. {}
- C. ()
- D. <>

Answer:  A

#### Q2: Which of the following is used to install external packages in Python?

- A. import  
- B. pip  
- C. module  
- D. library

In [ ]:
Answer:  A

#### Q3: What does df.head() do in a Pandas DataFrame?

- A. Returns the first 5 rows by default
- B. Returns the column names
- C. Returns the last 5 rows
- D. Deletes the first 5 rows

Answer:  A

#### Q4: Which of the following is not a data type in Python?

- A. list
- B. float
- C. set
- D. array

Answer:  C

#### Q5: Which method is used to add an item to the end of a list in Python?

- A. insert()
- B. append()
- C. add()
- D. extend()

Answer:  B

#### Q6: Which of the following statements is *true* about Python dictionaries?

- A. List can be used as Dictionaries key
- B. Tuple can be used as Dictionaries key
- C. Dictionary values must be unique
- D. You can access a value using an index

Answer:  B

#### Q7: Which of the following functions is used to remove missing values in a DataFrame?

- A. dropna()
- B. fillna()
- C. replace()
- D. isna()

Answer:  A

#### Q8: How do you select rows where a column value is greater than 10 in a Pandas DataFrame df?

- A. df['column'] > 10
- B. df.loc[df['column'] > 10]
- C. df['column'] >= 10
- D. df.query("column > 10")

Answer:  B

#### Q9: What does the pivot_table() function do in Pandas?

- A. Transforms a DataFrame into a more readable format
- B. Aggregates data and creates a new DataFrame
- C. Reshapes data without aggregation
- D. Merges two DataFrames based on a common key

In [ ]:
Answer:   B

#### Q10: What is the purpose of the pd.concat() function in Pandas?

- A. Merges DataFrames based on a key
- B. Joins two DataFrames vertically or horizontally
- C. Combines DataFrames while aggregating data
- D. Splits a DataFrame into multiple DataFrames

Answer:  A

## Part 2: Short Coding Problems (30 points)

#### Q11: Create a Pandas DataFrame with the following values:

![image.png](attachment:18a23f88-7563-429c-9370-0ea50e7b5239.png)

In [ ]:
# Answer

#### Q12: Write a function that takes a Pandas DataFrame and returns the number of missing values in each column.

In [ ]:
import pandas as pd

def count_missing_values(df):
    # Your code here
    pass

# Example DataFrame
data = {'A': [1, 2, None], 'B': [4, None, None], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
print(count_missing_values(df))

None

#### Q13: Given the following DataFrame, write a Python function that returns a new DataFrame containing only the rows where the values in column `'A'` are greater than 2.

In [8]:
import pandas as pd

In [7]:
data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

def filter_dataframe(df):
    return df[df['A'] > 2]
    pass

print(filter_dataframe(df))
# Your function should return a DataFrame with the following rows:
#    A  B
# 2  3  7
# 3  4  8

   A  B
2  3  7
3  4  8

#### Q14: Given two arrays, write a Python function that returns the intersection of the two arrays, i.e., the elements that are common to both arrays.

In [9]:
X = [1,6,9,0]
Y = [3,0,2,9]

def get_intersection(x, y):
    return list(set (x) & set (y))
    pass

print(get_intersection(X, Y))
# Your function should return
# [9,0]

[0, 9]

#### Q15: Given an array, write a Python function to find and return all the duplicate elements in the array.

In [10]:
X = [1,2,3,1,3,6,5]
def get_duplicates(input):
    X.duplicated()
    pass

print(get_duplicates(X))
# Expected output:
# [1,3]

AttributeError: 'list' object has no attribute 'duplicated'

#### Q16: You are given a list `X = ['foo', 'red', 'baz', 'dwarf', 'Foo', 'foO']`. Write a Python function to remove all occurrences of the string `'foo'` from the list, ignoring case sensitivity.

In [12]:
X = ['foo', 'red', 'baz', 'dwarf', 'foo', 'FoO']
def remove_foo(input):
    return [item for item in X if item.lower() != 'foo']
    pass

print(remove_foo(X))
# Your code should return:
# ['red', 'baz', 'dwarf']

['red', 'baz', 'dwarf']

#### Q17: Given a list of strings, write a Python function to return the elements that have more than 2 letters and convert them to uppercase.

In [14]:
X = ["a", "as", "bat", "car", "dove", "python"]

def uppercase_words(input):
    return [item.upper() for item in X if len(item) > 2]
    pass

print(uppercase_words(X))
# Expected output:
#  ['BAT', 'CAR', 'DOVE', 'PYTHON']

['BAT', 'CAR', 'DOVE', 'PYTHON']

#### Q18: Write a Python function to flatten a nested list (a list of tuples) into a single list of elements.

#### Q19:
In mathematics, the Fibonacci sequence is a sequence in which each number is the sum of the two preceding ones. Numbers that are part of the Fibonacci sequence are known as Fibonacci numbers.

Starting from 0 and 1, the first few values in the sequence are: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144.

Write a Python generator function called `fibonacci()` that generates the Fibonacci sequence indefinitely. The function should yield the next number in the sequence each time it is called.

In [16]:
def fibonacci():
    a,b = 0,1
    while True:
      yield a
      a,b =b,a+b
    pass

# Example usage
fib = fibonacci()
for _ in range(10):
     print(next(fib),end=" ")

# expected output
# 0 1 1 2 3 5 8 13 21 34

0 1 1 2 3 5 8 13 21 34

#### Q20:
Given a pandas Series representing daily sales figures for a week, with the days of the week as the index, perform the following tasks:

- Calculate the total sales for the week.
- Identify the day of the week with the highest sales.

In [31]:
import numpy as np

import pandas as pd

sales = [150.5, 200.75, 180.0, 220.25, 160.5, 190.0, 210.0]
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

sales_df = pd.Series(sales, index=days)
week_sales = sales_df.sum()
print(week_sales)

highest_day = sales_df.idxmax()
print('day of the week with highest sales' + ':' + highest_day)

1312.0
day of the week with highest sales:Thursday

## Part 3: Data Visualization (10 points)

#### Q21: Write a Python function that creates a scatter plot using Matplotlib.

The function should take two lists, `x` and `y`, as arguments, and display a scatter plot with different colors for points above and below the line \( y = x \). Include titles for the x-axis and y-axis as well as a title for the graph.
![image.png](attachment:5a08f031-2736-4307-bc3b-c8e8941b3416.png)

In [ ]:
import matplotlib.pyplot as plt

def plot_scatter_graph(x, y):
    for i in range(len(x)):
      if y[i] > x[i]:
      plt.scatter(x[i], y[i], color = 'orange')
      else:
        plt.scatter(x[i], y[i], color ='brown')
    pass

# Example data
x = [1, 2, 3, 4, 5]
y = [1, 3, 2, 5, 4]
plot_scatter_graph(x, y)

## Part 4: Feature Engineering (10 points)

In the Titanic dataset example, we aim to build a model to predict passenger survival based on the available features. Which of the following is the most appropriate method to handle each feature?
![image.png](attachment:cce9bbb9-f956-46f2-83b9-b149c83d2c5c.png)

#### Q22: Pclass (Passenger Ticket Class):
- A. Normalize using Z-Score or Min-Max scaling
- B. Apply Dummy Variable (One-Hot) Encoding
- C. Use Label Encoding
- D. Drop the column
- E. Leave it as is

In [ ]:
# Answer B

#### Q23: Fare (Passenger Fare):
- A. Normalize using Z-Score or Min-Max scaling
- B. Apply Dummy Variable (One-Hot) Encoding
- C. Use Label Encoding
- D. Drop the column
- E. Leave it as is

In [ ]:
# Answer A

#### Q24: Sex (Passenger Gender):
- A. The length of the text in characters
- B. Apply Dummy Variable (One-Hot) Encoding
- C. Use Label Encoding
- D. Drop the column
- E. Leave it as is

In [ ]:
# Answer C

#### Q25: Embarked (Port of Embarkation):
- A. The length of the text in characters
- B. Apply Dummy Variable (One-Hot) Encoding
- C. Use Label Encoding
- D. Drop the column
- E. Leave it as is

In [ ]:
# Answer B

#### Q26: Ticket (Ticket number):
- A. The length of the text in characters
- B. Apply Dummy Variable (One-Hot) Encoding
- C. Use Label Encoding
- D. Drop the column
- E. Leave it as is

In [ ]:
# Answer D

## Part 5: Problem Solving/Scenario-Based (30 points)
These questions test logical thinking, using both Python and Pandas in real-world scenarios.

#### Q27 (2 points): Load the file "laptop_dataset.csv" into dataframe.

hint: you need to skip the first row

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

laptop_df=pd.read_csv("/content/laptop_dataset.csv", skiprows=1)
laptop_df

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,IPS Panel,2,1,7,35.560,2.6,8,256,1.70,1891
234,234,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.20,1950
235,235,Lenovo,4,IPS Panel,2,1,5,30.480,2.6,8,256,1.36,2236
236,236,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.40,883
237,237,Toshiba,3,Full HD,2,1,5,35.560,2.3,8,256,1.95,1499

#### Q28 (3 points): Write a code to fill the missing values.
- Screen Size with the most frequent value of the attribute
- Weight with the average value of the attribute

In [35]:
frequent_screen_size = laptop_df['Screen_Size_cm'].mode()[0]
laptop_df['Screen_Size_cm'].fillna(frequent_screen_size, inplace=True)

average_weight = laptop_df['Weight_kg'].mean()
laptop_df['Weight_kg'].fillna(average_weight, inplace=True)

print(laptop_df)

     Unnamed: 0 Manufacturer  Category     Screen  GPU  OS  CPU_core  \
0             0         Acer         4  IPS Panel    2   1         5
1             1         Dell         3    Full HD    1   1         3
2             2         Dell         3    Full HD    1   1         7
3             3         Dell         4  IPS Panel    2   1         5
4             4           HP         4    Full HD    2   1         7
..          ...          ...       ...        ...  ...  ..       ...
233         233       Lenovo         4  IPS Panel    2   1         7
234         234      Toshiba         3    Full HD    2   1         5
235         235       Lenovo         4  IPS Panel    2   1         5
236         236       Lenovo         3    Full HD    3   1         5
237         237      Toshiba         3    Full HD    2   1         5

     Screen_Size_cm  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
0            35.560            1.6       8             256       1.60    978
1            39.624            2.0       4             256       2.20    634
2            39.624            2.7       8             256       2.20    946
3            33.782            1.6       8             128       1.22   1244
4            39.624            1.8       8             256       1.91    837
..              ...            ...     ...             ...        ...    ...
233          35.560            2.6       8             256       1.70   1891
234          33.782            2.4       8             256       1.20   1950
235          30.480            2.6       8             256       1.36   2236
236          39.624            2.5       6             256       2.40    883
237          35.560            2.3       8             256       1.95   1499

[238 rows x 13 columns]

<ipython-input-35-b11ae13c8ef6>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  laptop_df['Screen_Size_cm'].fillna(frequent_screen_size, inplace=True)
<ipython-input-35-b11ae13c8ef6>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  laptop_df['Weight_kg'].fillna(average_weight, inplace=True)

#### Q29 (3 points):
Use the below mentioned units of conversion and write a code to modify the columns of the dataframe. Update their names as well.

- Screen_Size_cm -> Screen_Size_inch   
- Weight_kg -> Weight_pounds

```{math}
1 inch = 2.54 cm
1 kg   = 2.205 pounds
```

#### Q30 (2 points): Normalize the "CPU_frequency" attribute using the Z-score.

#### Q31(10 points):
Binning is a process of creating a categorical attribute which splits the values of a continuous data into a specified number of groups. In this case, write a code to create 3 bins for the attribute "Price". These bins would be named "Low", "Medium" and "High". The new attribute will be named "Price-binned".

Hint: you can use np.linspace   
![image.png](attachment:c13c5807-cccd-4b06-8698-69e4d8dc4dc6.png)

#### Q32 (10 points):
Run a linear regression model to predict 'price' and calculate the following evaluation metrics:

- Mean Squared Error (MSE)
- R-squared (RÂ²)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()